<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>Price</th>
                <th>ACtion</th>
            </tr>
        </thead>
        <tbody *ngIf="products && products.length">
            <tr *ngFor="let product of products;index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeItem(product.id)">xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>